.Messages {
  clear: both;
}
.Messages__pic {
  border-radius: 50%;
  float: left;
}
.Messages__text {
  max-width: 60vw;
  padding: 5px 12px 6px 12px;
  margin-bottom: 1px;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: left;
}
.Messages_friend {
  float: left;
  margin: 8px 32px 8px 16px;
}
.Messages_friend .Messages__text {
  background-color: #f3f3f3;
  color: #353535;
  float: left;
  margin-left: 36px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.Messages_friend .Messages__text:first-of-type {
  border-top-left-radius: 15px;
  margin-left: 8px;
  clear: none;
}
.Messages_friend .Messages__text:only-of-type {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  margin-left: 8px;
  clear: none;
}
.Messages_friend .Messages__text:last-of-type {
  border-bottom-left-radius: 15px;
}
.Messages_own {
  float: right;
  margin: 8px 16px 8px 32px;
}
.Messages_own .Messages__text {
  background-color: #2979ff;
  color: #fff;
  float: right;
  clear: right;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.Messages_own .Messages__text:first-of-type {
  border-top-right-radius: 15px;
}
.Messages_own .Messages__text:only-of-type {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.Messages_own .Messages__text:last-of-type {
  border-bottom-right-radius: 15px;
}
