.Messages_friend {
  float: left;
  margin: 8px 0 8px 16px;
  clear: both;
}
.Messages_own {
  float: right;
  clear: both;
  margin: 8px 16px 8px 0;
}
.Messages__pic {
  border-radius: 50%;
  position: absolute;
  left: 16px;
}
.Messages__message {
  padding: 5px 12px 6px 12px;
  clear: both;
  box-sizing: border-box;
  word-wrap: break-word;
  border-radius: 15px;
}
.Messages__message_friend {
  background-color: #f3f3f3;
  color: #353535;
  float: left;
  margin-left: 36px;
}
.Messages__message_friend_top {
  border-radius: 15px 15px 15px 0;
  margin-top: 0;
  margin-bottom: 1px;
}
.Messages__message_friend_middle {
  border-radius: 0 15px 15px 0;
  margin-top: 0;
  margin-bottom: 1px;
}
.Messages__message_friend_bottom {
  border-radius: 0 15px 15px 15px;
  margin-top: 0;
}
.Messages__message_own {
  background-color: #2979ff;
  float: right;
  max-width: 167px;
  color: #fff;
}
.Messages__message_own_top {
  border-radius: 15px 15px 0 15px;
  margin-top: 0;
  margin-bottom: 1px;
}
.Messages__message_own_middle {
  border-radius: 15px 0 0 15px;
  margin-top: 0;
  margin-bottom: 1px;
}
.Messages__message_own_bottom {
  border-radius: 15px 0 15px 15px;
  margin-top: 0;
}
