.Messages {
  clear: both;
  &_friend {
    margin: 8px 0 8px 16px;
    float: left;
    width: 60%;
    .Messages__text {
      background-color: #f3f3f3;
      color: #353535;
      margin-left: 36px;
      float: left;
      clear: left;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;

      &:first-of-type {
        border-top-left-radius: 15px;
      }
      &:last-of-type {
        border-bottom-left-radius: 15px;
      }
      &:only-of-type {
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
      }

    }
  }
  &_own {
    margin: 8px 16px 8px 0;
    float: right;
    width: 60%;
    .Messages__text {
      background-color: #2979ff;
      color: #fff;
      float: right;
      clear: right;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;

      &:first-of-type {
        border-top-right-radius: 15px;
      }
      &:last-of-type {
        border-bottom-right-radius: 15px;
      }
      &:only-of-type {
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
      }
    }
  }
  &__pic {
    border-radius: 50%;
    position: absolute;
    left: 16px;
  }
  &__text {
    display: block;
    padding: 5px 12px 6px 12px;
    margin-bottom: 1px;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}